/* HERO */

#hero-container {
  height: 660px;
  max-height: 660px;
  overflow: hidden;
}

#carousel .carousel-item.boat{
  background-image:url("../img/slide1.jpg");
}
#carousel .carousel-item.sea{
  background-image:url("../img/slide2.jpg");
}

#carousel .carousel-item{
  height:100vh;
  width:100%;
  min-height:350px;
  background:no-repeat center center scroll;
  background-size:cover;
}
#carousel .carousel-inner .carousel-item{
  transition:-webkit-transform 2s ease;
  transition:transform 2s ease;
  transition:transform 2s ease, -webkit-transform 2s ease;
}
#carousel .carousel-item .caption{
  background:rgba(0,0,0,0.5);
  padding:40px;
  color:white;
  animation-duration: 1s;
  animation-delay: 1s;
}
#carousel .caption {
  width: 460px;
  height: 300px;
  margin-bottom: 200px;
}
#carousel .caption h2{
  animation-duration: 1s;
  animation-delay: 1s;
}
#carousel .caption p{
  animation-duration: 1s;
  animation-delay: 1s;
}

#carousel .caption a{
  animation-duration: 1s;
  animation-delay: 1.3s;
}
.hero-btn{
  display: inline-block;
  min-width:100px;
  height: 40px;
  color: var(--dark-text);
  border:none;
  border-radius: 20px;
  border-bottom:1px solid #ffa902;
  border-radius: 0;
  padding:0 20px;
  font-size:16px;
  line-height:35px;
  font-weight:400;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  background: var(--primary-color);
}
.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus{
  font-size:16px;
  font-weight: 600;
  color:#fff;
  background: #ffa902;
  border-bottom:1px solid var(--primary-color);
}

.hero-title {
  font-size: 40px;
  text-transform: uppercase;
}

.hero-p {
  font-size: 14px;
}
/* HERO END */

/* HERO BOTTOM */
.hero-bottom {
  height: 110px;
}

.item-box h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7;
  text-transform: uppercase;
  color: white;
}

.icon-dollar {
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  color: var(--dark-text);
  font-size: 22px;
}

/* Our Values */

.info.values {
  background-color: #f5f5f5;
}

.our-values {
  margin-top: 30px;
}

.values-container {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
}

.value-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.value-icon {
  color: #fff;
  font-size: 60px;
  border-radius: 50%;
  line-height: 120px;
  height: 120px;
  width: 120px;
  display: flex;
  cursor: pointer;
}

.value-icon.colour-1 {
  background-color: #4ea4a5;
}

.value-icon.colour-2 {
  background-color: #4e6da5;
}

.value-icon.colour-3 {
  background-color: #f6722a;
}

.value-icon.colour-4 {
  background-color: #a7cf47;
}

.value-container:hover {
  color: var(--primary-color);
}

.value-icon:hover {
  animation: animate 2s linear infinite;
  background-color: var(--primary-color);
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 206, 67, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 26, 67, 0);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 206, 67, 0);
  }
}

.value-icon i {
  margin: auto;
}

.value-text {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  margin: 15px 0 15px 0;
}

.value-separator {
  max-width: 20px;
  margin-bottom: 20px;
  border: 1px solid #8f8f8f;
  margin-left: auto;
  margin-right: auto;
}

/* Cards */
.cards-container {
  height: 550px;
  background: white;
  padding-top: 5%;
  padding-right: 8%;
  padding-bottom: 80px;
  padding-left: 8%;
}

.card {
  border: none;
  border-radius: 10px;
}

.card-group-container {
  justify-content: space-evenly;
}

.card-container {
  position: relative;
  width: 18rem;
  perspective: 200rem;
  min-height: 412px;
  padding: 0px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.card-container:hover .card-front {
  transform: rotateY(180deg);
}

.card-container:hover .card-back {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.9s;
  backface-visibility: hidden;
}

.card-back .card-body {
  position: relative;
}

.card.card-front {
  background: rgb(245, 245, 245);
}

.space {
  margin-top: 114px;
}

.circle {
  background-color: #333;
  height: 64px;
  width: 64px;
  border: 1px solid #333;
  border-radius: 50%;
  background-clip: padding-box;
  margin: auto;
}

.card.card-front i {
  font-size: 25px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.card.card-back .card-body {
  background: var(--primary-color);
}

.card-body {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.card-body a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15% 0 0 -23%;
}

.card-body h5 {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  text-align: center;
}

/* Counter */

.counterup-area {
  background-image: url(../img/bg.jpg);
  padding: 60px 0px;
}
.counterup-area h3 {
  text-align: center;
  font-size: 30px;
  margin: 50px 0px;
}
.single-counterup {
  display: inline-block;
  width: 25%;
  margin: -2px;
}
.counterup-content {
  text-align: center;
  margin: 20px;
  padding: 50px 20px;
  transition: 0.4s;
}
.counterup-content i {
  font-size: 70px;
  color: var(--primary-color);
}

.counterup-content .counter {
  color: var(--primary-color);
  font-size: 60px;
  line-height: normal;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.counterup-content p {
  font-size: 50px;
  font-weight: 500;
  margin: 10px 0px;
}
.counterup-content h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-style: normal;
  font-family: "Raleway", sans-serif;
}
.counterup-content:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-counterup {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .single-counterup {
    width: 50%;
  }
}

@media only screen and (max-width: 479px) {
  .single-counterup {
    width: 100%;
  }
}

/* Brands */

.brands {
  margin-top: 40px;
}

.brand-carousel {
  margin: 50px 0 50px 0;
}
