@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}

p {
  font-size: 14px;
}

.gallery {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
}

.one {
  padding-left: 0;
}

.two {
  padding-right: 0;
}

.sideBar {
  width: 30%;
  height: 20%;
  overflow: hidden;
}

.subtitle::after {
  content: "";
  border-top: 4px solid #feb600;
  margin-left: 15px;
  margin-right: -100%;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
  height: 0.8em;
}

.btn-group-vertical {
  border: 1px solid rgba(0,0,0,.05);
  margin: 12px 0 50px 0;
}

.btn-light {
  color: #7F7F7F;
  font-size: 13px;
  padding: 10px 30px;
}

.btn-light:hover {
  background: #FEB600;
  color: #fff;
}

.paragraph {
  margin-top: 5%;
  margin-bottom: 5%;
}

.sections {
  display: flex;
}

.section-part {
  display: flex;
  flex-direction: column;
}

.section-part img {
  width: 100%;
  margin-bottom: 5%;
}

.arrow-style {
  margin: 0 0 20px;
  padding: 0 0 0 0px;
}

.arrow-style li {
  font-weight: 600;
  list-style: outside none none;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-top: 7px;
  position: relative;
  border-bottom: 1px dashed #ccc;
}

.arrow-style li:before {
  font-weight: 900;
  content: "\f105";
  display: block;
  font-family: "Font Awesome 5 Free";
  left: 0;
  position: absolute;
  top: 5px;
  color: #feb600;
}

.section-p {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
}

.section-p .col-md-6 ul{
    margin-top: 5%;
    margin-bottom: 5%;
}


.section-p .col-md-6 ul li{
    position: relative;
    text-transform: capitalize;
    list-style: none;
    font-size: 14px;
}

.section-p .col-md-6 ul li p{
    margin-left: 30px;
}

.section-p .col-md-6 img{
    width: 100%;
}

.text-color {
  color: #feb600;
  position: absolute;
  top: 2px;
  font-size: 20px;
}