$primary-color: #fed03d;
$light-color: #f5f5f5;
$bg-card: rgb(245, 245, 245);
$light-text: #747474;
$dark-text: #333;
$dark-color: #1e1e1e;

.office-details{
    display: flex;
    width:100%;

    .detail-box-1{
        margin-top:3%;
        margin-left: 1.5%;
        min-width:30%;

        .icon{
            float: left;
            font-size: 26px;
            margin: 0 14px 0 0;
            color: var($primary-color)
        }

        .detail{
            margin-top: 8px;

            strong{
                color: var($dark-text);
                line-height: 16px;
                font-size: 14px;
            }

            span{
                color: var($light-text);
                font-size: 13px;
            }
        }
    }

    .detail-box-2{
        margin-top:3%;
        margin-left: 1.5%;
        min-width:40%;

        .icon{
            float: left;
            font-size: 26px;
            margin: 0 14px 0 0;
            color: var($primary-color)
        }

        .detail{
            margin-top: 8px;

            strong{
                color: var($dark-text);
                line-height: 16px;
                font-size: 14px;
            }

            span{
                color: var($light-text);
                font-size: 13px;
            }
        }
    }

    .detail-box-3{
        margin-top:3%;
        margin-left: 1.5%;
        min-width:20%;

        .icon{
            float: left;
            font-size: 26px;
            margin: 0 14px 0 0;
            color: var($primary-color)
        }

        .detail{
            margin-top: 8px;

            strong{
                color: var($dark-text);
                line-height: 16px;
                font-size: 14px;
            }

            span{
                color: var($light-text);
                font-size: 13px;
            }
        }
    }

}